@font-face {
  font-family: 'proximanova';
  src: url('../fonts/proximanova.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova.woff') format('woff'), url('../fonts/proximanova.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}